@import "tailwindcss";

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #fff8f1;
  color: #2b1d14;
}
